body {
    text-align: justify;
    background-size: cover;
    background-color: #fffad3;
}

.encodingContainer{
    width: 60%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vw;
}

.inputLine{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw;
}

.input{
    width: 70%;
}

.buttonsLine{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button{
    width: 10vw;
    background-color: #FFB773;
    margin-bottom: 1vw;
}